* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: sans-serif;
    background-color: rgb(52, 23, 239);
}

.page-container {
    width: 400px;
    height: 450px;
    padding: 40px;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(75px);
    background-color: white;
}

.page-container h1 {
    position: relative;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.page-container h1 i{
    position: absolute;
    top: 2px;
    right: 75px;
}
.page-container .name,
.page-container .password {

    margin: 20px 20px;
    text-align: center;
    width: 80%;
    position: relative;
}

.page-container .name input,
.page-container .password input {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border: none;
    outline: 1px solid black;
    margin-bottom: 10px;
}

.page-container .links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.page-container .links input {
    margin-right: 5px;
}
.page-container .links a{
    text-decoration: none;
}
.page-container .links input{
   accent-color:rgb(52, 23, 239) ;
}
.page-container .submit {
    text-align: center;
}

.page-container .submit button {
    padding: 10px;
    width: 100px;
    color: white;
    border: none;
    border-radius:10px;
    background-color: rgb(52, 23, 239);
    letter-spacing: 1px;
    font-size: 16px;
}

.page-container p {
    padding: 30px 20px;
    text-align: center;
}

.name i,
.password i {
    position: absolute;
    top:-2px;
    right: -45px;
}
.name span i,.password span i{
    background-color: rgb(52, 23, 239);
    color: white;
    padding: 11px;
    border-radius: 10px;
}
.page-container .ending a{
    text-decoration: none;
}
.page-container .name input::placeholder,
.password input::placeholder {
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 13px;

}

.name input:focus,
.password input:focus {
    outline: none;
    border: 1px solid rgb(255, 21, 0);
}

.submit button:hover {
    background-color:rgb(141, 3, 247);
    cursor: pointer;
}
